###### Задание 1  
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [1]:
#Решение по Заданию 1.

import pandas as pd
MOVIES_PATH  = "source/ml-latest-small/movies.csv"
RATINGS_PATH = "source/ml-latest-small/ratings.csv"

#Функция для классификации диапозона значений
def rating_gr(rating):
    if rating <= 2:
        ret = "низкий рейтинг"
    elif  2 < rating <=  4:
        ret = "средний рейтинг"
    else:
        ret = "высокий рейтинг"
    return ret

#Получение фрейма с названием фильма по его идентификатору
df_join_movies_ratings = pd.read_csv(MOVIES_PATH).merge(pd.read_csv(RATINGS_PATH), how = 'inner', on = 'movieId')

df_join_movies_ratings['class'] = df_join_movies_ratings['rating'].apply(rating_gr)

print('Результат:\n\n', df_join_movies_ratings.groupby(by = ['class', 'rating']).count()['userId'].index)
df_join_movies_ratings.head(3)

Результат:

 MultiIndex([('высокий рейтинг', 4.5),
            ('высокий рейтинг', 5.0),
            ( 'низкий рейтинг', 0.5),
            ( 'низкий рейтинг', 1.0),
            ( 'низкий рейтинг', 1.5),
            ( 'низкий рейтинг', 2.0),
            ('средний рейтинг', 2.5),
            ('средний рейтинг', 3.0),
            ('средний рейтинг', 3.5),
            ('средний рейтинг', 4.0)],
           names=['class', 'rating'])

,movieId,title,genres,userId,rating,timestamp,class
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,3.0,851866703,средний рейтинг
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,9,4.0,938629179,средний рейтинг
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,13,5.0,1331380058,высокий рейтинг

###### Задание 2  
Используем файл keywords.csv.

- Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток: словарь geo_data
Результат классификации запишите в отдельный столбец region.

In [2]:
#Решение по Заданию 2.

KEYWORDS_PATH = "source/ml-latest-small/keywords.csv"

geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

# Функция для преобразования словарей типа geo_data в словарь вида {'Город': 'Регион'}
def transform_geo_data(dict_):
    ret = {}
    for key, values_ in dict_.items():
        for value_ in set(values_):
            ret[value_] = key
    return ret

# Функция для находждения городов в строке запроса, используя пересечение множеств,
# возвращается значение словаря образованного функцией transform_geo_data ключем которого является 
# результат перечечения множеств слов строки запроса и значений словаря geo_data
# пример: 'яроблтур ярославль официальный сайт' & ['москва', 'тула', 'ярославль'] = 'ярославль'
def find_intersection(words, region1_cityes, city1_region1):
    ret = 'undefined'
    words_set = set(words.split(' '))
    for key, values_ in region1_cityes.items():
        intersec_tmp = words_set & set(values_)
        if intersec_tmp:
            if list(intersec_tmp)[0] in city1_region1.keys():
                ret = city1_region1[list(intersec_tmp)[0]]
    return(ret)
            
GEO_DATA_TRANSFORM =  transform_geo_data(geo_data)         
            
df_keywords = pd.read_csv(KEYWORDS_PATH)

df_keywords['region'] = ( df_keywords['keyword'].apply(find_intersection,
                                                       region1_cityes = geo_data,
                                                       city1_region1 = GEO_DATA_TRANSFORM) )
print('Проверка результата:')
df_keywords[(df_keywords['region'].isin(['Центр','Северо-Запад','Дальний Восток']) )]

Проверка результата:

                                     keyword   shows          region
127                             авито москва  979292           Центр
370                 авито ру санкт петербург  425134    Северо-Запад
849                          авито ярославль  209581           Центр
1063                     фарпост владивосток  176951  Дальний Восток
1236                    банк санкт петербург  174375    Северо-Запад
...                                      ...     ...             ...
99292           афиша кино москва на сегодня    3704           Центр
99590  авито ярославль автомобили с пробегом    3673           Центр
99808      полармед мурманск запись на прием    3719    Северо-Запад
99890                    яндекс метро москва    4548           Центр
99922                      авто ру ярославль    3712           Центр

[594 rows x 3 columns]

###### Задание 3 (бонусное)  
Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из [базы](https://grouplens.org/datasets/movielens)). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:  
1. В переменную years запишите список из всех годов с 1950 по 2010.
2. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
   - для каждой строки пройдите по всем годам списка years
       - если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
       - если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
3. Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’  
4. Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [3]:
#Решение по Заданию 3.
import datetime as dt
import re
years = list(range(1950, 2011))

def production_year(par):
    #регулярное выражение для поиска 4-х цифр в скобках (dddd) возвращает 4-х зн. число
    tmp = re.findall(r'\((\d{4})\)', par)
    ret = 1900
    if tmp:
        ret = int(tmp[0])
        if ret not in years:
            ret = 1900
    return ret

df_movies  = pd.read_csv(MOVIES_PATH)
df_movies['year'] = df_movies['title'].apply(production_year)

df_ratings = df_movies.merge(pd.read_csv(RATINGS_PATH), how = 'inner', on = 'movieId')

df_ratings.groupby(by = 'year')['rating'].mean().reset_index().sort_values(by = 'rating', ascending = False)

    year    rating
8   1957  4.014241
23  1972  4.011136
3   1952  4.000000
5   1954  3.994220
2   1951  3.983539
..   ...       ...
56  2005  3.448434
54  2003  3.444777
47  1996  3.426600
48  1997  3.415764
51  2000  3.355945

[62 rows x 2 columns]